{% extends "index.html" %}
{% load static %}
{% block title %}Profile Page{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'app_auth/profile.css' %}">
{% endblock css %}

{% block content %}
<div class="profile-container">
    <!-- Sidebar menu -->
        {% include "app_auth/includes/sidebar.html" %}
    <!-- Main content -->
    <section class="profile-content">
        <h2>My Orders</h2>
        <!-- Если заказы есть, то отображаем блоки заказов -->
        <div class="orders-list">
            <!-- Пример блока заказа -->
            <div class="order-card">
                <h3>Order #12345</h3>
                <p>Date: 2024-11-05</p>
                <p>Status: Delivered</p>
                <div class="order-items">
                    <div class="order-item">
                        <img src="{% static 'images/product-image.jpg' %}" alt="Product Image">
                        <div class="item-details">
                            <p>Product Name</p>
                            <p>Quantity: 2</p>
                            <p>Price: $50</p>
                        </div>
                    </div>
                    <div class="order-item">
                        <img src="{% static 'images/product-image.jpg' %}" alt="Product Image">
                        <div class="item-details">
                            <p>Product Name</p>
                            <p>Quantity: 1</p>
                            <p>Price: $25</p>
                        </div>
                    </div>
                </div>
                <p class="total-price">Total: $125</p>
            </div>
            <!-- Конец блока заказа -->
        </div>


       
{% endblock content %}

{% block js %}
<script>
    // Скрипты, если нужны
</script>
{% endblock js %}
