{% extends "index.html" %}
{% load static %}
{% block title %}Profile Page{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'app_auth/profile.css' %}">
{% endblock css %}

{% block content %}
<div class="profile-container">
    <!-- Sidebar menu -->
        {% include "app_auth/includes/sidebar.html" %}
    <!-- Main content -->
    <section class="profile-content">
        <h2>My Orders</h2>
        <!-- Если заказы есть, то отображаем блоки заказов -->
        <div class="orders-list">
            <!-- Пример блока заказа -->
            {% for items in orders %}
            <div class="order-card">
                <h3>Order #{{ items.number }}</h3>
                <p>Date: {{ items.added_to|date:"F j, Y, g:i a" }}</p>
                <p>Status: {{ items.status }}</p>
                <div class="order-items">
                    
                        {% for order_item in orders_item %}
                        {% for item in order_item %}
                            {% if item.order == items %}
                                {% with item.product.images.first as main_image %}
                                    <div class="order-item">
                                        <img src="{{ main_image.image.url }}" alt="{{ item.product.name }}">
                                        <div class="item-details">
                                            <p>{{ item.product.name }}</p>
                                            <p>Size: {{ item.size }}</p>
                                            <p>Quantity: {{ item.quantity }}</p>
                                            <p>Price: ${{ item.product.price }}</p>
                                        </div>
                                    </div>
                                    {% endwith %}
                                {% endif %} 
                                {% endfor %}     
                        {% endfor %}
                    <p>Total: ${{ items.total_sum }}</p> 
                    </div>
                </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Конец блока заказа -->


       
{% endblock content %}

{% block js %}
<script>
    // Скрипты, если нужны
</script>
{% endblock js %}
