{% extends "index.html" %}
{% load static %}

{% block title %}Product Detail{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'store/css/product_page.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock css %}

{% block content %}
<div class="product-detail">
    <div class="container">
        <div class="product-detail-wrapper">
            {% with product.images.first as main_image %}
            <div class="product-image">
                <img src="{{ main_image.image.url }}" alt="{{ product.name }}">
            </div>
            {% endwith %}

            <!-- Информация о продукте -->
            <div class="product-info">
                <h1>{{ product.name }}</h1>
                <p class="product-price">${{ product.price }}</p>
                <p class="product-description"></p>
                <div class="product-rating">
                    {% for star in rating %}
                        {% if star <= rating_num %}
                            <span class="star"><i class="fas fa-star"></i></span>
                        {% else %}
                            <span class="star"><i class="far fa-star"></i></span>
                        {% endif %}
                    {% endfor %}
                    <a href="{% url "reviews-page" product.slug %}" >{{ product.reviews.all|length }} Ratings</a>
                </div>
                    <p>Size: </p>
                    <div class="size-options">
                        <form action="{% url "add-to-cart" %}" method="POST">
                            {% csrf_token %}
                        {% for size in product.sizes.all %}
                        <label class="size-option {% if not size.in_stock %}unavailable{% endif %}">
                            <input 
                                type="radio" 
                                name="size_id" 
                                value="{{ size.id }}" 
                                {% if not size.in_stock %}disabled{% endif %}
                                required
                            >
                            {{ size.name }}
                        </label>
                        {% endfor %}
                    </div>
                        <input type="hidden" name = "product_id" value="{{ product.id }}">
                        {% if product.sizes.all|length != 0 %}
                    <button type="submit" class="btn add-to-cart">Add to Cart</button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Похожие продукты -->
<div class="related-products">
    <h2>Similar Products</h2>
    <div class="related-products-wrapper">
        {% for similar_product in similar_products %}
        {% with similar_product.images.first as main_image %}
        <div class="related-product-item">
            <a href="{% url 'product-page' similar_product.slug %}">
                <img src="{{ main_image.image.url }}" alt="Alo">
                <p class="related-product-name">{{ similar_product.name }}</p>
                <p class="related-product-price">${{ similar_product.price }}</p>
            </a>
        </div>
        {% endwith %}
        {% endfor %}
    </div>
</div>

{% endblock content %}

{% block js %}
<script src="{% static 'store/js/product_detail.js' %}"></script>
{% endblock js %}
